@{
    ViewBag.Title = "Home Page";
}

<!-- World map containter. Width and height can be set here -->
<div id="place" style="width:850px;height:500px;"></div>

<script type="text/javascript">

/* Country click handler */
function countryclick(tld) {
	alert('Country clicked: '+tld);
	}

$(document).ready(function(){

	$('#place').SVGWorldMap({
		bottom:20, /* Bottom padding (removes antarctica from map) */
		clickhandler :'countryclick', /* Click handler function name */
		c : {BR:1,RU:1,IN:1,CN:1,US:2,UK:2} /* Country classes */
		});

	});

</script>